<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"><!--兼容移动端显示-->
    <title>帅哥鉴赏</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<link type="text/css" rel="stylesheet" href="../static/lib/ckplayer/css/ckplayer.css" th:href="@{/lib/ckplayer/css/ckplayer.css}"/>
<script type="text/javascript" src="../static/lib/ckplayer/js/ckplayer.js" charset="UTF-8" th:src="@{/lib/ckplayer/js/ckplayer.js}"></script>
<style type="text/css">
    #video1,#video2
    {
        margin: 0  auto ;
        margin-top: 20px;
    }
</style>
<!--导航-->
<nav th:replace="_fragments :: menu(6)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="book icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<br>


<div class="m-padded-tb-big m-container-small animated bounceInDown" style="word-break: break-all">
    <div class="ui container">

        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui blue header" style="color: #5A5CAD">帅哥鉴赏</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin">2</h2>位
                </div>
            </div>
        </div>

        <div style="text-align: center" class="ui top attached blue segment">
            <div class="ui labeled button m-margin-tb-tiny">
                <h3 class="big ui basic button" th:classappend="'violet'" >木村拓哉</h3>
            </div>
            <div id="video1" class="video" style="width: 340px;height: 300px;">播放器容器</div>
            <br>
        </div>
        <br>
        <br>
        <br>
        <div style="text-align: center" class="ui top attached blue segment">
            <div class="ui labeled button m-margin-tb-tiny">
                <h3 class="big ui basic button" th:classappend="'violet'" >黎明</h3>
            </div>
            <div id="video2" class="video1" style="width: 340px;height: 300px;">播放器容器</div>
            <br>
        </div>



    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer  th:replace="_fragments :: footer"   class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                    <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 (User Story)</a>
                    <a href="#" class="item">用户故事 (User Story)</a>
                    <a href="#" class="item">用户故事 (User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：2534800363@qq.com</a>
                    <a href="#" class="item">QQ：2534800363</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">我建立博客的初衷是把我所学所懂记录下来以及收集网络上优秀的文章分享给大家，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 Designed by ChenLinFeng</p>
    </div>
</footer>

<th:block th:replace="_fragments :: script">  <!--/*/th标签内容/*/-->  <!--加在静态页面是注释，在thymeleaf是有效的-->
<script src="../static/js/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</th:block>

<script type="text/javascript">
    //定义一个变量：videoObject，用来做为视频初始化配置
    var videoObject = {
        container: '.video', //“#”代表容器的ID，“.”或“”代表容器的class
        video: 'http://www.mctz520.top/video/mctz.mp4'//视频地址
    };
    var player = new ckplayer(videoObject);//初始化播放器

    //定义一个变量：videoObject，用来做为视频初始化配置
    var videoObject = {
        container: '.video1', //“#”代表容器的ID，“.”或“”代表容器的class
        video: 'http://www.mctz520.top/video/lm.mp4'//视频地址
    };
    var player = new ckplayer(videoObject);//初始化播放器
</script>

</body>
</html>