<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"><!--兼容移动端显示-->
    <title>success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<br/>
&nbsp;注册成功，3s后将自动跳转...
<input id="lastUrl" type="hidden" th:value="${lastUrl}"/>


<script src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<script src="../static/js/mouse-events.js" th:src="@{/js/mouse-events.js}"></script>
<script src="http://open.sojson.com/common/js/canvas-nest.min.js" count="200" zindex="-2" opacity="0.5" color="47,135,193" type="text/javascript"></script>
<script th:inline="javascript">
    var lastUrl = $('#lastUrl').val();

    if (lastUrl.indexOf("/user/toRegister") != -1) {
        lastUrl = "/";
    }

    var openid = [[${openid}]];

    var url = lastUrl;

    setTimeout('location.href=url', 3000);

</script>


</body>
</html>