<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"><!--兼容移动端显示-->
    <title>用户登陆</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui blue image header">
                    <div class="content">
                        用户登陆
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/user/login}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名" th:value="${userName}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码" th:value="${password}">
                            </div>
                        </div>
                        <div class="field" align="left">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="remember" th:checked="${password}!=null ? true : false">
                                <label>记住我</label>
                            </div>
                        </div>
                        <button class="ui fluid large blue submit button"><i class="sign in icon"></i>登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                    </div>
                    <!--negative红色错误提醒,unless条件不成立时显示,if条件成立时显示-->
                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名或密码错误！</div>
                    <br/>
                </form>

                <div class="field">
                    <div class="ui left input">

                        <a href="#" th:href="@{/}">返回首页</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/js/mouse-events.js" th:src="@{/js/mouse-events.js}"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js" count="200" zindex="-2" opacity="0.5" color="47,135,193"></script>
<script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>

<script>

    <!--控制移动端下菜单按钮的展开和收起-->
    $(".menu.toggle").click(function(){
        $(".m-item").toggleClass("m-mobile-hide");
    });
    <!--搜索框的非空验证及跳转-->
    $("#query").click(function () {
        var queryInput = $("#query").prev().val();
        if (queryInput != '') {
            document.forms['search'].submit();
        } else {
            swal("请输入博客标题", null, "error")
        }

    })
    <!--搜索框回车搜索-->
    $('#zxc').keydown(function (event) {

        if (event.keyCode == 13) {
            if ($('#zxc').val() == "") {
                swal("请输入博客标题", null, "error")
                return false;
            } else {
                $("#query").click();
            }

        }
    })
    <!--控制自动下拉菜单-->
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    <!--看板娘-->
    var script5 = document.createElement('script');
    script5.type = 'text/javascript';
    script5.src = '\\js\\autoload.js';
    $('body').append(script5);

</script>

<script>
    $('.ui.form').form({//表单验证
        inline: true,
        on: 'blur',
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });

</script>

</body>
</html>