<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.clf.blog.dao.UserRepository">

    <select id="checkUser" resultType="User">
        select * from t_user where username=#{username} and password=#{password}
    </select>

    <select id="selectUser" parameterType="String" resultType="User">
        select * from t_user where username=#{username}
    </select>

    <update id="updateUserInfo" parameterType="User">
        update t_user set nickname=#{nickname},email=#{email} where id=#{id}
    </update>

    <select id="getAvatar" resultType="String">
        select avatar from t_user where type=1;
    </select>

    <insert id="addUser" parameterType="User">
        insert into t_user (nickname,username,password,email,avatar,type,create_time,update_time) values
        (#{nickname},#{username},#{password},#{email},#{avatar},#{type},#{createTime},#{updateTime})
    </insert>

    <select id="selectUsers" resultType="User">
        select id,nickname,username,email,update_time from t_user where type!=1 order by update_time desc
    </select>

    <delete id="deleteUser" parameterType="Long">
        delete from t_user where id = #{id}
    </delete>

    <select id="selectNickNameById" resultType="String">
        select nickname from t_user where id=#{id}
    </select>

</mapper>
